/Software/GDCoordinacionPIS/dist/
/Software/GDCoordinacionPIS/nbproject/private/
/Software/GDCoordinacionPIS/build/
/Software/GDCoordinacionPIS/nbproject/build-impl.xml
/Software/GDCoordinacionPIS/nbproject/build-impl.xml
/Software/GDCoordinacionPIS/nbproject/genfiles.properties
/Software/GDCoordinacionPIS/nbproject/private/private.properties
/Software/GDCoordinacionPIS/nbproject/private/private.xml
/Software/GDCoordinacionPIS/nbproject/project.properties
/Software/GDCoordinacionPIS/nbproject/project.xml
/Software/GDCoordinacionPIS/nbproject/*.*
Software/GDCoordinacionPIS/nbproject/*.*
Software/GDCoordinacionPIS/nbproject/private/private.properties
Software/GDCoordinacionPIS/nbproject/project.properties